<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bienvenue sur Cinesight</title>
  </head>
  <body>
    <h1>Bienvenue <%= @user.email %> !</h1>
    <p>Nous sommes ravis de vous accueillir parmi notre communauté de passionnés de cinéma.</p>
    <p>Cinesight est une application conçue pour les amateurs de cinéma, offrant un accès convivial à une vaste base de données de films. Vous pourrez rechercher, explorer et obtenir des informations détaillées sur des milliers de films, tout en ajoutant vos films préférés à votre liste de films à regarder ultérieurement.</p>
    <p>Profitez de notre API complète et fiable pour accéder en temps réel à des informations sur les acteurs, les réalisateurs, les genres, les critiques et bien plus encore. Prenez des décisions éclairées sur les films à regarder avec Cinesight.</p>
    <p>
      Pour accéder à votre profil et le compléter, connectez vous via : <%= @url %>.
    </p>
    <p>Merci de vous être inscrit et bienvenue dans l'univers cinématographique de Cinesight !</p>
    <p>Cordialement,</p>
    <p>L'équipe de Cinesight</p>
  </body>
</html>
